<div style="text-align:center">
  <div style="margin-bottom: 1rem;">
    <button mat-button routerLink="/">Calling API Project - HOME</button>
    <button mat-button routerLink="/imagelist"> PixaBay Search </button>
    <button mat-button routerLink="/followers"> API-GitHUB Followers </button>
    <button mat-button routerLink="/posts"> JSON Placeholders/posts </button>
    <button mat-button routerLink="/todo"> API-TODO App </button>
  </div>
</div>
<div>
</div>
<router-outlet></router-outlet>
