<div style="text-align:center">
<div
  class="
    container
    bg-light bg-gradient
    border border-danger border-3
    rounded-start rounded-3
  "
>
  <h1>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    API Calling Project
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </h1>
  <h3>
    CONSUMING HTTP SERVICES
  </h3>
  <br />
  <h2>
    PIXABAY API Calling
  </h2>
  <h3>
    GET: Images and many attributes from Pixabay's Server
  </h3>
  <br />
  <h2>
    GitHUB (Followers) API Calling
  </h2>
  <h3>
    GET: Profile data - Usernames, Repository
    addresses, Avatar Images
  </h3>
  <br />
  <h2>TODO APPLICATION</h2>
  <h3>
    Show Application (now works without Rest API, but the implementation is in the code) - built Rest-API with nodeJS-ExpressJS and MongoDb-Docker
  </h3>
</div>

<div
  class="
    container
    bg-light bg-gradient
    border border-success border-3
    rounded-start rounded-3
  "
>
  <h2>
    JSON Placeholder/posts
  </h2>
  <h3>
    for testing and prototyping http or https requests -
    CONSUMING HTTP SERVICES with fake API Calling
  </h3>
</div>
</div>
